body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #304358;
    background: radial-gradient(circle farthest-side at center center, #304358 0%, #161C3F 100%);
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}



a {
    text-decoration: none;
}