body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #304358;
    background: radial-gradient(circle farthest-side at center center, #304358 0%, #161C3F 100%);
    color: #ccc;
}

header {
    background: tra;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
}

section {
  border: none;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}

.menu {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.menu a {
  margin: 0 15px;
  text-decoration: none;
  color: #ccc;
  font-weight:bolder;
}

.menu a:hover {
  color: #007BFF;
}

section {
    text-align: center;
    padding: 50px 0;
    color: #fff;
    
}

.entradas{
  width: 100px;
  height: 100px;
  background-color: red;
  
}